body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.social-signin {
  padding: 20px 40px 20px 40px;
  font-size: 30px;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  background: #dc453a;
  color: white;
  transition: opacity 0.5s;
}

.social-signin-container {
  margin-top: 10%;
}

.social-signin:hover {
  opacity: 0.9;
}

.social-signin-icon {
  padding-right: 15px;
}

#sign-in {
  margin-bottom: -20px;
}

#sign-in-header {
  margin-bottom: 40px;
}

.signin-div a{
  margin:10px;
}

/* .error{
  border-bottom: 1px solid #F44336!important;
  -webkit-box-shadow: 0 1px 0 0 #F44336!important;
  box-shadow: 0 1px 0 0 #F44336!important;
}

.success{
  border-bottom: 1px solid #4CAF50!important;
  -webkit-box-shadow: 0 1px 0 0 #4CAF50!important;
  box-shadow: 0 1px 0 0 #4CAF50!important;
} */

/* input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 0px solid #26a69a!important;
  -webkit-box-shadow: 0 0px 0 0 #26a69a!important;
  box-shadow: 0 0px 0 0 #26a69a!important;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
  border-bottom: 0px solid #26a69a!important;
  -webkit-box-shadow: 0 0px 0 0 #26a69a!important;
  box-shadow: 0 0px 0 0 #26a69a!important;

} */